WebClient/Service References/ServiceRef/meta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Employee_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Employee_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emp" nillable="true" type="tns:Emp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmp" nillable="true" type="tns:ArrayOfEmp" />
  <xs:complexType name="Emp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emp" nillable="true" type="tns:Emp" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dept_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Dept_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
</xs:schema>